
@keyframes example  {
    0%   {opacity: 0; transform:scale(0.7,0.7);}
    100%   {opacity: 1; transform:scale(1,1);}
}

.dragger {
    position:absolute;
    width:  90%;
    max-width: 350px;
    border-radius: 10px;
    left: calc(50% - 180px);
    top: calc(50% - 30px);
    background-color: purple;
    animation-name: example;
    animation-duration: 1s;

}


.dragger:hover {
    cursor:move
}

@media only screen and (max-width: 370px) {
    .dragger {
        left:13px;
    }
}