.timer {
    position:absolute;
    left:calc(50% - 50px);   
    width:75px;
    top:20px;                                                      
    background: linear-gradient( #2F1451 50%, #210E39 51%);
    border: solid 1px #9013FE;
    border-radius: 5px;
    color: white;
    text-align: center;
    padding:10px;
    font-size:20px;
    font-weight:bold;
}