.bonusHolder {
    overflow:hidden;
    max-width:275px;
    text-align:center;
    margin:0 auto;
}

.bonusItem {
    border: solid 2px #9013FE;
    border-radius: 10px;
    margin:5px;
    box-sizing: border-box;
    width:calc(50% - 10px);
    float:left;
    padding:0 0%;
}

.dormant {
    background-color: rgba(255,255,255,0.1)
}