.pageButton {
    display:block;
    margin: 3px auto;
    align-self: center;     
    transition:200ms;
    border: solid 1px white;
    border-radius: 50px;
    color: black;
    padding: 8px 20px;
    background-color: white;
    font-size:10px;
    text-transform: uppercase;
    cursor:pointer;
    outline: none;
}



.pageButton:hover {
    background-color: rgb(204, 234, 236);
}

.pageButton:disabled {
    background-color: rgb(175, 175, 175);
    color:white;
    cursor:not-allowed;
}   

.active {

    background-color: black;
    color: white;

}
