.imageButton {
   
    display: inline-block !important;
    cursor: pointer;
    box-sizing: border-box;
    margin-top:0;
    margin-bottom:0;
    background-color:transparent;
    min-height:50px;
}  

.imageButton img {
    transition:200ms;
    opacity: 0.3;
    width:100%;   
    padding-left:15%;
    padding-right:15%;
    box-sizing: border-box;
    border-radius: 50%;
}
.imageButton p {padding:0;padding-top:3px;margin:0;font-size:13px;height:40px;line-height:1;overflow: hidden}

.imageButton:after {
    content: "";
    display: table;
    clear: both;
  }

.imageButton .active {
    opacity: 1
}