.contentHolder {

    text-align:center;
    padding: 4  0px 5px 0px 5px;
    box-sizing: border-box;
    overflow-y: auto;
    height: calc(95vh - 80px);
}

@supports (-webkit-overflow-scrolling: touch) {
    .contentHolder {
        height: calc(100vh - 130px);
    }
  }

  _:-webkit-full-screen, :root .selector { height: calc(100vh - 100px); }

.innerHolder {

    text-align:center;
    margin:0 auto;
    max-width: 600px;
    width: 95%;
    margin-top:50px;
}