.contentHolder {

    text-align:center;
    padding: 4  0px 5px 0px 5px;
    box-sizing: border-box;
    overflow-y: auto;
}

.innerHolder {
    text-align:center;
    margin:0 auto;
    max-width: 600px;
    width: 100%;
}